*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212a31;
}
h1{
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 20px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 85vh;
    
}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    padding: 50px;
    border-radius: 20px;

}
label{
    font-size: 30px;

}
input{
    padding: 10px;
    border-radius: 15px;
}
button{
    padding: 15px;
    font-size: 20px;
    width: 180px;
    border-radius: 20px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    background-color: greenyellow;
    font-weight: 400;
    cursor: pointer;
    margin: 15px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result{
    font-size: 50PX;
    background-color:yellow;
    padding: 20PX;
    width: 340px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
}